<span class="onViewLoad" data-function="onJobLoad" hidden></span>
<h1 id="ji_Name">Job.Title</h1>

<div class="panel">
    <p class="panel-heading">Aktionen</p>
    <button id="job_newTab" data-name="">In Jenkins öffnen</button>
    <button id="job_build" data-name="">Jetzt bauen</button>
    <p style="color: #FA2C25;" id="job_build_error"></p>
</div>

<!-- ji steht für JobInfo -->
<div class="panel">
    <p class="panel-heading">Beschreibung</p>
    <p id="ji_Description"></p>
</div>

<div class="panel">
    <p class="panel-heading">Build-Stabilität</p>
    <p><span id="ji_HealthReport_Description">Bisher wurde das Projekt nicht gebaut.</span> (<span id="ji_HealthReport_Score">100%</span>)</p>
</div>

<p>Klicken Sie auf einen Build, um zur jeweiligen Buildseite zu gelangen.</p>
<div id="list_builds">
    <!--<div class="build" data-job="" data-number=""><div class="build-color">&nbsp;</div> <span class="build-name">#1</span></div>-->
</div>

<br>

<center>
    <span class="link" data-target="legende">Legende</span>
</center>