<h1>Heading 1</h1>
<h2>Heading 2</h2>
<h3>Heading 3</h3>
<h4>Heading 4</h4>
<h5>Heading 5</h5>
<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque mollis justo vel lectus maximus, at posuere nulla lobortis. Praesent velit tortor, consectetur ac leo id, sagittis efficitur sapien. In fermentum vehicula arcu, id fringilla erat sagittis vel. Praesent varius pellentesque arcu, sed mattis est cursus sed.</p>
<form>
    <input type="text" value="Lorem Ipsum">
    
    <select>
        <option>Option A</option>
        <option>Option B</option>
    </select>
    
    <button type="submit" class="error">Hit me!</button>
</form>
