<span class="onViewLoad" data-function="onSettingsLoad" hidden></span>
<h1>Einstellungen</h1>
<div class="form-group">
    <h2>Server</h2>
    <label>URL zum Jenkins Server:</label>
    <input id="settings_server_ip" type="text">
    <button id="settings_save_server">Speichern</button>
</div>

<div class="form-group">
    <h2>Aktualisierung</h2>
    <label>Aktualisierungsinterval (in Sekunden): <span id="intervalOut"></span></label>
    <input id="settings_refresh_interval" type="range" min="60" max="300">
    <button id="settings_save_refresh">Speichern</button>
</div>
<lable id="settingInfo"></lable>