body {
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
}

#container {
    margin: 16px;
}

/**
 *  Markup
 */
h1 {
    font-size: 24px;
}

h2 {
    font-size: 20px;
}

h3 {
    font-size: 18px;
}

h4 {
    font-size: 16px;
}

h5 {
    font-size: 14px;
}

p {
    font-size: 13px;
    line-height: 18px;
    text-align: justify;
}

div.panel {
    background-color: #e4e4e4;
    padding: 10px;
    margin-bottom: 25px;
}

div.panel * {
    margin: 0;
}

div.panel p.panel-heading {
    font-size: 17px;
    font-weight: 600;
    margin-bottom: 6px;
}

.panel button {
    display: inline;
    margin-right: 5px;
}

.form-group {
    background-color: #e4e4e4;
    padding: 10px;
    margin-bottom: 25px;
}

.form-group:last-child {
    margin-bottom: 0;
}

.form-group h2 {
    text-decoration: underline;
}

.form-group :first-child {
    margin-top: 0;
}

.form-group :last-child {
    margin-bottom: 0;
}

input, button, select {
    padding: 4px;
    border: 1px solid #c4c4c4;
    border-radius: 2px;
    color: #555;
    display: block;
    width: 100%;
    margin-bottom: 10px;
}

input[type=range] {
    -webkit-appearance: none;
}

input[type=range]::-webkit-slider-runnable-track {
    width: 300px;
    height: 0.5px;
    background: #FCFCFC;
    border: none;
}

input[type=range]::-webkit-slider-thumb {
    -webkit-appearance: none;
    border: 1px solid #c4c4c4;
    height: 16px;
    width: 16px;
    border-radius: 50%;
    background: #5D5F60;
    margin-top: -7px;
}

input[type=range]:focus {
    outline: none;
}

button {
    width: auto;
}

label {
    font-weight: 600;
    display:block;
    margin-bottom: 4px;
}

button {
    background-color: #bdbdbd;
    border: 1px solid #757575;
}

button:hover {
    background-color: #d3d3d3;
    cursor: pointer;
}

button.success {
    background-color: #4CAF50;
}

button.error {
    background-color: #E53935;
}

span.link {
    color: #1122bb;
}

span.link:hover {
    text-decoration: underline;
    cursor: pointer;
}


div.job {
    width: 100%;
    height: 50px;
    background-color: #e4e4e4;
    border-bottom: 1px solid #d2d2d2;
}

div.job:hover {
    background-color: #d6d6d6;
    cursor: pointer;
}

div.job-color {
    height: 50px;
    width: 50px;
    margin: 0;
    position: absolute;
    background-color: #c3c3c3;
}


div.job-color[data-status="grey"] {
    background-color: #B6B9BD;
}

div.job-color[data-status="grey_anime"] {
    background-color: #616161;
}


div.job-color[data-status="blue"] {
    background-color: #4CAF50;
}

div.job-color[data-status="blue_anime"] {
    background-color: #2A782F;
}


div.job-color[data-status="yellow"] {
    background-color: #EDDB39;
}

div.job-color[data-status="yellow_anime"] {
    background-color: #c7b513;
}


div.job-color[data-status="red"] {
    background-color: #FA2C25;
}

div.job-color[data-status="red_anime"] {
    background-color: #9E251D;
}

span.job-title {
    margin-left: 65px;
    line-height: 50px;
    font-size: 20px;
    font-weight: 600;
}

img.job-newTab {
    position: relative;
    float: right;
    margin: 15px;
}

div.legende {
    width: 100%;
    height: 50px;
    background-color: #e4e4e4;
    border-bottom: 1px solid #d2d2d2;
}

div.legende-color {
    height: 50px !important;
    width: 50px !important;
}

div.legende-description {
    margin-left: 65px;
    line-height: 15px;
    font-size: 13px;
    font-weight: 600;
}
/*
 *
 */

div.build {
    width: 100%;
    height: 40px;
    background-color: #e4e4e4;
    border-bottom: 1px solid #d2d2d2;
}

div.build:hover {
    background-color: #d6d6d6;
    cursor: pointer;
}

div.build-color {
    height: 40px;
    width: 40px;
    margin: 0;
    position: absolute;
    background-color: #c3c3c3;
}

div.build-color[data-status="ABORTED"] {
    background-color: #9E251D;
}

div.build-color[data-status="FAILURE"] {
    background-color: #FA2C25;
}

div.build-color[data-status="NOT_BUILT"] {
    background-color: #C3C3C3;
}

div.build-color[data-status="SUCCESS"] {
    background-color: #4CAF50;
}

div.build-color[data-status="UNSTABLE"] {
    background-color: #EDDB39;
}

span.build-name {
    margin-left: 55px;
    line-height: 40px;
    font-size: 18px;
    font-weight: 600;
}

span.build-duration {
    margin-left: 40px;
    line-height: 40px;
    font-size: 10px;
    font-weight: 600;
}

span.build-date {
    margin-left: 10px;
    line-height: 40px;
    font-size: 10px;
    font-weight: 600;
}